link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
link(rel='stylesheet', href='https://www.blackrock.com/tools/resources/css/api/main.css')
link(rel='stylesheet', href='https://www.blackrock.com/tools/resources/css/api/tables.css')
link(rel='stylesheet', href='https://www.blackrock.com/tools/resources/css/api/theme.css')
script(src='https://code.jquery.com/jquery-2.2.3.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
script(src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
script(src='https://www.blackrock.com/tools/resources/js/api/bootstrap.js')
script(src='https://www.blackrock.com/tools/resources/gen/js/utils/StringUtil.js')
script(src='https://www.blackrock.com/tools/api/js/hackathon')
.container
  h4
    | Query
  
    .input-group
        input#search.form-control(type='search', placeholder='Search...', value='apple')
        span.input-group-btn
            button#submit.btn.btn-primary(type='button') Search
    input#rows.form-control(type='number', placeholder='Max Results (optional)')
    table#displayTable.table.table-striped.table-bordered(cellspacing='0', width='100%')

    input#ourmom(type= 'hidden', name='ourmom', value=gun)
script.
    $(document).ready(function() {
        var Aladdin = new blk.API({});
        var $table = $('#displayTable');
        var $rows = $('#rows');
        var $search = $('#search');
        var table;
        function submit(query, rows, skipColumns, columnOrder) {
            if (table) {
            table.destroy();
            table = null;
            }

            var securities = JSON.parse(document.getElementById("ourmom").value);
            //- console.log(JSON.stringify(securities));
            //- var securities = [{"name":"ngee hung","loiter":"yes", "class":"mom"},{"name":"Jesus", "loiter":"no","class":"hun"},{"name":"jun","loiter":"no", "class":"class"}]
            var skipCols = skipColumns || [];
            var startingColumns = columnOrder || [];
            var columns = [];
            securities.forEach(function(sec) {
                for (var field in sec) {
                if ((typeof sec[field] === 'string' || typeof sec[field] === 'number') && !skipCols.includes(field) && !startingColumns.includes(field) && !columns.includes(field)) {
                 columns.push(field);
                }
                }
            });
            columns = startingColumns.concat(columns.sort());
            var tableData = securities.map(function(sec) {
            return columns.map(function(col) {
            return col == 'score' ? sec[col] : sec[col] || '-';
            });
            });
            if (table) {
            table.destroy();
            }
            $table.empty();
            table = $table.DataTable({
            data: tableData,
            columns: columns.map(function(col) {
            return {
            title: StringUtil.camelToHuman(col) + '\\n(' + col + ')'
            }
            }),
            order: [
            [0, 'desc']
            ]
            });
            }
            var skipCols = ['@type'];
            var searchTimeout;
            function delayedSearch(delay) {
            window.clearTimeout(searchTimeout);
            searchTimeout = window.setTimeout(submit.bind(this, $search.val(), $rows.val(), skipCols), delay);
            }
            $search.on('input', delayedSearch.bind($search[0], 250));
            $('#submit').click(delayedSearch.bind($search[0], 0));
            submit($search.val(), $rows.val(), skipCols);
            });

